<div class="container">


    {{#each handleObject}}
    <div class="row">
        <div class="individualArticle" id="{{this.id}}">
            <div class="col-5 photoCol">
                <img src="{{this.thumb}}" class="articleImage" />
            </div>
            <div class="col-5 contentCol">
                <h5 class="headline">{{this.headline}}</h5>
                <p class="byline">{{this.author}}</p>
                <p class="summary">{{this.summary}}</p>
                <p class="url">{{this.url}}</p>
                <button type="button" class="btn btn-outline-dark articleSelection" data-route="{{this.id}}" data-url="{{this.url}}">Explore Article</button>
            </div>
        </div>
    </div>
    {{/each}}

</div>